<%= form_for @task do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </p>

  <p>
    <%= f.label :completed %><br>
    <%= f.text_field :completed %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
